@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

p, h1, h2, h3, h4, h5, h6, button, span, a, li {
@apply font-mono
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Custom hover styles for all buttons */
  .btn-hover-styles {
    @apply hover:text-stone-400;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-arialBlack;
}

/* Apply the custom hover styles to all button elements, except Banner.CollapseButton */
button:not(.banner-collapse-button) {
  @apply btn-hover-styles;
}

.navbar-link-hover {
  @apply text-stone-400 hover:text-yellow-400 !important;
}

/* Custom styles for button with bg-button class */
button.bg-button {
  background-color: var(--tw-bg-button, theme("colors.stone.800")) !important;
}

button.bg-button:hover {
  background-color: #b18c2f !important;
  color: #0f172a !important;
  font-weight: bold;
}

/* Remove hover effect for Banner.CollapseButton */
.banner-collapse-button,
.banner-collapse-button:hover {
  background-color: transparent !important;
  border: none !important;
}

.footer-button {
  max-width: 100%;
  @apply hover:bg-stone-800 bg-stone-700 text-stone-200 font-bold !important;
  white-space: nowrap;
}

.footer-links {
  @apply text-stone-100;
}

main {
  flex: 1;
}

.flowbite-datepicker button:hover {
  /* Hover state */
  @apply bg-stone-700;
}

.flowbite-datepicker button:active {
  /* Active state */
  @apply bg-stone-700;
}

.flowbite-datepicker button.selected,
.flowbite-datepicker button.bg-cyan-700 {
  /* Selected state */
  @apply bg-stone-700 !important;
}

.rounded-top-sides {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}