@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
}

body {
  background-color: white !important;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
  /* Prevent horizontal scrolling */
  overflow-y: auto;
}

main {
  background-color: white !important;
}

li {
  list-style-type: none;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

p, h1, h2, h3, h4, h5, h6, button, span, a, li {
  @apply font-mono !important;
  @apply text-stone-300;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Custom hover styles for all buttons */
  .btn-hover-styles {
    @apply hover:text-stone-400;
  }
}


/* Apply the custom hover styles to all button elements, except Banner.CollapseButton */
button:not(.banner-collapse-button) {
  @apply btn-hover-styles;
}

.navbar-link-hover {
  @apply text-stone-400 hover:text-secondary-y !important;
}

/* Custom styles for button with bg-button class */
button.bg-button {
  background-color: var(--tw-bg-button, theme("colors.stone.800")) !important;
}

button.bg-button:hover {
  background-color: #b18c2f !important;
  color: #0f172a !important;
  font-weight: bold;
}

.main-btn {
  @apply bg-zinc-900 px-3 py-2 rounded-md text-white font-bold;
}

.main-btn:hover {
  @apply bg-zinc-800 text-white !important;
}

.main-btn:active {
  @apply bg-blue-500 text-white !important;
}

.main-btn.active {
  @apply bg-blue-500 text-white;
}

.secondary-btn {
  @apply bg-zinc-600 px-3 py-2 rounded-md text-white font-bold;
}

/* Remove hover effect for Banner.CollapseButton */
.banner-collapse-button,
.banner-collapse-button:hover {
  background-color: transparent !important;
  border: none !important;
}

.footer-button {
  max-width: 100%;
  @apply hover:bg-stone-800 bg-stone-700 text-stone-200 font-bold !important;
  white-space: nowrap;
}

.footer-links {
  @apply text-stone-100;
}

main {
  flex: 1;
}

.flowbite-datepicker button:hover {
  /* Hover state */
  @apply bg-stone-700;
}

.flowbite-datepicker button:active {
  /* Active state */
  @apply bg-stone-700;
}

.flowbite-datepicker button.selected,
.flowbite-datepicker button.bg-cyan-700 {
  /* Selected state */
  @apply bg-stone-700 !important;
}

.rounded-top-sides {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

a {
  text-decoration: none !important;
}

/* Add this CSS to your global styles or a specific CSS file */

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
}

.modal-header, .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h2 {
    margin: 0;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.form-select, .form-input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}